.ui.grid.main-wrapper {
	margin: 0px !important;
	width: 100% !important;

}
/*
.bordered {
    border-style: solid;
}
*/
.highlight {
    color: red;
}

.no-margin {
    margin: 10px 0 0 0 !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.huge-text {
    font-size: 4rem !important;
}

.full-height {
    height: 105%;
}

.style-template {
    background-color: #000000;
    color: #FFFFFF !important;
    height: 100%;
}

h1, h2, h3 {
    color: #FFFFFF !important;
}

.huge-text {
    font-size: 4rem !important;
}

.full-height {
    height: 105%;
}

.style-template {
    background-color: #000000;
    color: #FFFFFF !important;
    height: 100%;
}

h1, h2, h3 {
    color: #FFFFFF !important;
}